/**
 * @file
 * Subtheme specific CSS.
 */
 
body{
	padding:0;
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	color:#000000;
	margin:0;		
	font-weight:400;
	font-family: 'Tinos';
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}	
p{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}

h1 { font-family: Tinos; font-size: 42px; font-style: normal; font-variant: normal; font-weight: 400;  margin:20px 0;}
h2 { font-family: Tinos; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 400;  margin:15px 0; line-height:35px; }
h3 { font-family: Tinos; font-size: 26px; font-style: normal; font-variant: normal; font-weight: 400; margin:15px 0; line-height: 15.4px; }
h4 { font-family: Tinos; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; margin:15px 0; line-height: 22.4px; }
p { font-family: Open Sans; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
blockquote { font-family: Open Sans; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }
pre { font-family: Open Sans; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px;}
a{color:#333333; }

/*header .container {background:#000000;}
header .navbar { padding:0px 1rem 0px }
header .nav-link {color:#ffffff !important;}*/


#block-useraccountmenu a{ 
   background-image: url('/themes/custom/theme_tsa_gov/images/userlogin.svg');
   background-repeat:no-repeat;
   padding-left:30px;
   background-position:left;  
   background-repeat: no-repeat;
   padding-left: 30px;
   background-position: left;
   background-size: 22px;
}

#block-headersearchblock {margin-bottom:0px; margin-right:10px !important;}
#block-headersearchblock button {padding:0;right: 7px; position: absolute; top: 7px;}

/************ header css ************/
 /* header css start  */
#header {
	border-bottom: 1px solid #D8D8D8;
	z-index: 999;
}
.navbar {padding:0 1rem }
.header-main-nav {
	display: flex;
	align-items: left;
	#justify-content: flex-end;
}
.header-main-nav li:not(:first-child) {
	margin-left: 68px;
}
.header-main-nav li a {
	color: #333333;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	padding: 30px 15px;
	position: relative;
	font-weight: 700;
	text-decoration:none;
}
.link-hover-effect li a,
.link-hover-effect a {
	position: relative;
}
.link-hover-effect li a::after,
.link-hover-effect a::after {
	width: 30%;
	height: 4px;
	background: transparent;
	content: "";
	position: absolute;
	left: 0;
	top: calc(100% - 4px);
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	right: 0;
	margin: auto;
  }
  .link-hover-effect li a:hover:after,
  .link-hover-effect li.active a::after,
  .link-hover-effect a:hover:after,
  .link-hover-effect a.active::after {
	width: 100%;
	opacity: 1;
	visibility: visible;
	background: #CC0033;
  }

.header-main-nav li {
	position: relative;
  }
 .header-main-nav .dropdown-menu {margin:0; }
 .header-main-nav li ul.dropdown-menu {
	position: absolute;
	#border: 1px solid #E5E5E5;
	width: 360px;
	top: 100%;
	left: 0;
	padding: 20px;
	opacity: 1;
	#visibility: hidden;
	transition: .3s;
	background-color: #fff;
}
.header-main-nav li:hover ul.dropdown-menu {
	opacity: 1;
	#visibility: visible;
}
  .header-main-nav li ul.dropdown-menu li {
	float: left;
	width: 50%;
	margin: 0;
	margin-bottom: 5px;
  }
  .header-main-nav li ul.dropdown-menu li a {
	padding: 7px 0;
	text-transform: capitalize;
	white-space : break-spaces;
  }
  .header-main-nav li ul.dropdown-menu li a::after {
	height: 4px;
	width: 30%;
	opacity: 0;
	#visibility: hidden;
  }
  .header-main-nav li ul.dropdown-menu li:hover a::after {
	  opacity: 1;
	  visibility: visible;
	  #background-color: #CC0033;
	  width: 100%;
  }
.header-main-nav .dropdown-item  {clear:none; padding:0px;}
.header-main-nav .dropdown-item.active, .dropdown-item.active:hover {background:none;}
.header-main-nav .dropdown-item:hover {background:none;}
.header-main-nav .dropdown-toggle::after {border:none; background:none;}


.header-left {
	display: flex;
	align-items: flex-end;
  }
  .logo {
	margin-right: 60px;
	transform: translateY(-16px);
}
  .login-and-search {
	display: flex;
	align-items: center;
	margin-top: 15px;
  }
  .login-and-search li {
	position: relative;
  }
  .login-and-search li:not(:first-child) {
	margin-left: 24px;
  }
  .login-and-search li a {
	font-size: 12px;
	font-weight: 700;
	color: #333333;
	display: inline-block;
  }
  .login-and-search li a img {
	width: 18px;
	vertical-align: bottom;
	margin-right: 5px;
  }
  .login-and-search li:not(:first-child):before {
	background: #D8D8D8;
	height: 15px;
	width: 1px;
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	left: -12px;
  }
  .login-and-search li a i {
	font-size: 17px;
	vertical-align: middle;
	font-weight: 500;
  }
  .login-and-search li:nth-child(3) {
	display: none;
}
/* header css end */


.hed-search input {
	width: 200px;
	height: 100%;
	/*border-bottom: 4px solid #CB002E;
	border-top: 0;
	border-left: 0;
	border-right: 0;*/
	border:none;
	font-size: 14px;
	font-weight: 500;
	padding-left: 22px;
	height:40px;
  }
  
.hed-search input:focus {
   border-bottom: 3px solid #CB002E;
}
  
  
.hed-search {
	/*position: absolute;
	right: 0;
	height: 75px;
	bottom: -30px;*/
}


/**** Front Page ******/
#block-ensuresafetravelshome { margin-top:50px; }
#block-ensuresafetravelshome h1 { border-left:4px solid #cc0033; }
#block-ensuresafetravelshome p { padding-left:30px; }

/**** Federal Hiring Process ******/
#block-understandingthefederalhiringprocess { margin-top:50px; }
#block-understandingthefederalhiringprocess h1 { border-left:4px solid #cc0033; }
#block-understandingthefederalhiringprocess p { padding-left:30px; }
.block-block-content1c8b18fc-ba5e-428e-9fb8-76f231b6c87c .block-item {padding:50px;}
.block-block-content1c8b18fc-ba5e-428e-9fb8-76f231b6c87c h6 {font-family: 'Open Sans', sans-serif ; font-size:14px; font-weight:bold; color:#cc0033;}
.process-img-border1 { background-image: url('/sites/default/files/images/process-overview-border-img1.png');background-repeat: no-repeat;background-position: right bottom; }
.process-img-border2 { background-image: url('/sites/default/files/images/process-overview-border-img2.png');background-repeat: no-repeat;background-position: right center; }
.process-img-border3 { background-image: url('/sites/default/files/images/process-overview-border-img3.png');background-repeat: no-repeat;background-position: right top; }
#block-views-block-block-slider-hiring-requirement-slider .owl-buttons .owl-prev { position: absolute; left: 0; top: 50%; }
#block-views-block-block-slider-hiring-requirement-slider .owl-buttons .owl-next { position: absolute; right: 0; top: 50%; }

/**** Career Overview ******/
#block-oneagencyendlesspossibilitiesblock { margin-top:50px; }
#block-oneagencyendlesspossibilitiesblock h1 { border-left:4px solid #cc0033; }
#block-oneagencyendlesspossibilitiesblock p { padding-left:30px; }
#block-careerswithtsablock .nav ul{list-style:none;}
#block-careerswithtsablock .nav ul li{display:inline; margin:0 60px;}
.program-type {
	display: flex;
	border-bottom: 1px solid #D8D8D8;
	margin-top: 40px;
	margin-bottom: 10px;
}
.program-type li a,
.program-type a {
	color: #7C7C7C;
	font-size: 19px;
	display: inline-block;
	padding: 15px 0;
	font-family: 'Tinos', serif;
}

.tsa-area {position: sticky;top: -168px;left: 0;right: 0;background: #fff;z-index: 9999;}
.logo-sticky { position: absolute; left: 15px; bottom: 20px; width: 41px; transition: .3s;}
.fixed-tsa .logo-sticky {display: block !important;}


#block-exposedformsearch-contentpage-1-2 > #edit-actions {display:none;}
#block-useraccountmenu {padding-right:0px;}
#block-useraccountmenu li a {color: #333333;font-size: 12px;text-transform: uppercase;position: relative; font-weight: 700; text-decoration:none;}
#block-useraccountmenu ul {justify-content:end;}
.navbar-brand img { width: 250px; height: 60px; }
.nav-link {padding:0.3rem 1.5rem;}
#block-mainnavigation li a { color:#333333;}

/************************************/



.block-block-content {margin-bottom:50px;}

.l-gray {background:#eeeeee;}
/*------------------- Button------------------------------*/

.field--name-field-event-start-date , .field--name-field-event-end-date  {display:inline;}


.btn-primary {
   font-weight:600;
   color:#e5e5e5;
   #padding: 0.175rem .275rem; 
   padding: 0.5rem 2.5rem;
   margin-top:20px;
   line-height: 26.4px;
   font-variant: normal; 
   font-size: 18px; 
   text-transform:uppercase;
   background:#006699;
   border:none;   
  
}

.btn-secondry {
	#background-image: url('/sites/default/files/images/seconderybtnbg.png'); 
	#background-repeat:repeat-x;
    font-size: 18px;
    font-variant: normal;
    font-weight: 600;
    line-height: 26.4px;
	margin-top:20px;
	border:2px solid #006699;
	color:#006699;
	padding:8px 40px;
	text-transform:uppercase;
}

/*-------------------- Color -------------------------------*/
.light-blue { color:#006699;}


 .date {
	position: absolute;
	left: -64px;
	color: #000;
	font-size: 40px;
	font-weight: bold;
	line-height: 1;
	text-align:center;
  }
  .date span {
	display: block;
	font-size: 14px;
	font-weight: normal;
  }
  
  
  
  
  /* event-area css start  */

.title-bar {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 40px;
  }
  .search-event {
	display: grid;
	grid-template-columns: auto 50px;
	grid-gap: 15px;
  }
  .search-event {
  }
  .single-event {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .s-event-right  {
	color: #333;
	font-weight: 500;
	display: flex;
	
  }
  .s-event-right a i {
	margin-right: 5px;
  }
  .s-event-right a:first-child {
	margin-right: 10px;
  }
  .s-event-right a:last-child {
	margin-left: 10px;
  }
  .s-event-left > span {
	color: #000;
	font-size: 14px;
	font-weight: bold;
  }
  .s-event-left h1 {
	color: #006699;
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 10px;
  }

  .event-wrapper .single-event:not(:last-child) {
	border-bottom: 1px solid #D8D8D8;
	margin-bottom: 30px;
  }
  .single-event {
	padding-bottom: 30px;
	border-left: 4px solid #cc0033;
    padding-left: 30px;  
  }

  .box-btn.view-all {
	background: transparent;
	color: #006699;
	transition: .3s;
  }
  .box-btn.view-all:hover {
	background: #006699;
	color: #fff;
  }
  .event-area {
	padding: 60px 0;
}
.search-event button.box-btn {
	height: 45px;
	padding: 10px;
	font-size: 18px;
}
.program-area {
	margin-bottom: 50px;
}
/* event-area css end */




#block-theme-tsa-gov-main-menu .dropdown-menu ul { display:flex;}
#block-theme-tsa-gov-main-menu .dropdown-menu ul li { min-width:200px; padding: .5rem 1.5rem; }
/*#block-rolesattsanavblock {margin-bottom:0px; text-align:center;}
#block-rolesattsanavblock li{list-style:none;}
#block-rolesattsanavblock .dropdown{position:relative}
#block-rolesattsanavblock li ul{display:inline}
#block-rolesattsanavblock .mega-dropdown{display:none; text-align:left;}
#block-rolesattsanavblock li li{float:none}
#block-rolesattsanavblock .dropdown ul{position:absolute;left:0;top:100%;background:#fff;padding:20px 0;border-bottom:3px solid #34495e}
#block-rolesattsanavblock .dropdown li{white-space:nowrap}
#block-rolesattsanavblock .dropdown li a{padding:10px 35px;font-size:13px;min-width:200px}
#block-theme-tsa-gov-header-main-nav .dropdown-menu ul { display:flex;}
#block-theme-tsa-gov-header-main-nav .dropdown-menu ul li { min-width:200px; padding: .5rem 1.5rem; }*/




/*.navbar-expand-lg .navbar-nav .dropdown-menu { top: 69px; left:-40px; padding: 30px 30px; }
 ul > .show { border-bottom:3px solid red;}*/
 /*#block-useraccountmenu ul {justify-content:end; display:block; }
 #block-useraccountmenu ul a {text-transform:uppercase;}
 #block-useraccountmenu .nav .nav-item:nth-child(1) {float:right; font-weight:600; color:#e5e5e5; padding: .6rem 1.5rem ; background-color:#006599; border-color: #006599; text-align:center; }
 #block-useraccountmenu .nav .nav-item:nth-child(1) a { color:#ffffff; }
 #block-useraccountmenu .nav .nav-item:nth-child(2) {float:right;}
 #block-useraccountmenu .nav .nav-item:last-child {float:left; padding:1rem 0; }
 #block-useraccountmenu .nav .dropdown-menu {display:none; padding: 10px; left: 0; text-align: center; max-width:80%; margin:auto;}
 #block-useraccountmenu .nav .show {display:block;}
 #block-applymenu ul li {width:100%;}
 #block-exposedformsearch-contentpage-1-2 { float:right; }*/
 .events-calendar-page {margin:auto;}
 .dropdown:hover .dropdown-menu {display:block;}


.mega-dropdown{width:100%;position:absolute;top:100%;left:0;background:#fff;overflow:hidden;padding:20px 35px;border-bottom:3px solid #34495e; z-index:1}
/*#block-rolesattsanavblock li li a{float:none;color:#333;display:block;padding:8px 0; border-radius:3px; text-decoration:none !important;}
li.menu-link .active {border-bottom: 2px solid #ef294c;}*/
#menu-icon{position:absolute;right:0;top:50%;margin-top:-12px;margin-right:30px;display:none}
.menu-content p {color: #ef294c;}
.menu-link .arrow:before {content: "▼";position: relative;z-index: 1; text-align: center; width: 10%; height: 100%;color: #333;}
.menu-content h3 {font-size: 21px;font-weight: bold;text-transform: capitalize;line-height: 27px;margin-top: 10px;}
#menu-icon span{border:2px solid #000;width:30px;margin-bottom:5px;display:block;-webkit-transition:all .2s;transition:all .1s}
.rolemenu1 {background-image: url('/sites/default/files/images/tsaroles2.png');background-repeat: no-repeat;background-position: right top;min-height: 150px;}
.rolemenu2 {background-image: url('/sites/default/files/images/tsaroles3.png');background-repeat: no-repeat;background-position: right top;min-height: 150px;}
.rolemenu3 {background-image: url('/sites/default/files/images/tsaroles1.png');background-repeat: no-repeat;background-position: right top;min-height: 150px;}
#block-applymenu .nav-link {color:#ffffff ;}
#block-careersattsaoneagencyblock , #block-lawenforcementcareerblock {background:#eee; padding:50px 0;}
#block-careersattsaoneagencyblock .actionbtn { margin:20px 0;}

/**Career Page**/
#block-careerspecifichiringinformation h2  { margin-bottom:30px; }
#block-careerspecifichiringinformation .block-item  { background:#eee; padding:10px; margin-bottom:20px; }




#block-theme-tsa-gov-footermenu .nav li { float:left;  }
#block-theme-tsa-gov-footermenu {float: left; margin-bottom: 36px; text-transform: uppercase; font-weight: bold; clear:none;}
#block-theme-tsa-gov-footersocialmediaicons {float:right; clear:none;}
#block-theme-tsa-gov-footercontent {clear:both; border-top:0.01em solid #aaa;padding-top:45px;}


#block-ourmissionhome .ourmissiontop {
  background-image: url('/sites/default/files/images/rolesattsaleft.png'); 
  background-repeat: no-repeat; 
  background-position: right top;
}

#block-ourmissionhome .ourmissioninner {
  background-image: url('/sites/default/files/images/ourmissionbg.png');
  background-repeat: no-repeat; 
  position: relative;
  min-height:400px;   
  width:100%
}
#block-ourmissionhome .ourmissioninner div {
	position: absolute; 
	right: 0; bottom:0; 
	text-align: left; 
	#padding: 1rem 2rem 1rem 1rem; 
	background:#ffffff;
}

#block-rolesattsahome .rolesattsatop {
  background-image: url('/sites/default/files/images/rolesattsaleft.png'); 
  background-repeat: no-repeat; 
  background-position: left top;
  height: 125px; 
  position: relative;
}

#block-rolesattsahome .roleicon { 	
	background-repeat: no-repeat; 
	background-position:right:top; 
	width:100px; 
	position: absolute; 
	right:0; 
	top:0; 
	min-height:250px; 
}

.roleiconbg1 {background-image: url('/sites/default/files/images/tsaroles2.png'); }
.roleiconbg2 {background-image: url('/sites/default/files/images/tsaroles1.png'); }
.roleiconbg3 {background-image: url('/sites/default/files/images/tsaroles3.png'); }

#block-rolesattsahome .roledetail {
	margin-top:58px; 
	position:relative; 
	padding: 20px; 
	text-align: left;
}
#block-rolesattsahome h1 { position: absolute; bottom: 0; left: 0; }
#block-rolesattsahome .roledetail h3 {color:#cc0033;}


  

#block-tsafactshome .tsafactstop {
  background-image: url('/sites/default/files/images/tsafactright.png'); 
  background-repeat: no-repeat; 
  background-position: right top;
  height: 125px; 
  position: relative;
}
#block-tsafactshome h1 { position: absolute; bottom: 0; left: 0; }

#block-areyouaveteranhome .areyouaveteran {
  background-image: url('/sites/default/files/images/areyouaveteran.png'); 
  background-repeat: no-repeat; 
  background-size:contain; 
  height:auto;
}

#block-views-block-job-event-search-block-1 h2 { 
	background-image: url('/sites/default/files/images/tsafactright.png'); 
	background-repeat: no-repeat; 
	background-position: left top; 
	height: 125px; 
	position: relative; 
	padding-left:8.333333%;
	text-align:left;
	vertical-align: bottom;
	margin:0;
	padding-top:80px;
	font-size:42px;
}
#block-views-block-job-event-search-block-1 .content {
    margin-top: 30px;
    margin-left:8.33%;
}

#block-views-block-job-event-search-block-1 .views-row {width: 100%; padding-bottom: 26px; border-bottom: 1px solid; margin-top:30px;}
#block-views-block-job-event-search-block-1 h4 {color:#003366;}
#views-exposed-form-job-event-search-page-1 label {display:none;}
#views-exposed-form-job-event-search-page-1 .btn-primary {padding:.4rem 2rem !important; margin-top:0px !important;}
#views-exposed-form-job-event-search-page-1 .form-row {justify-content:center;}
#views-exposed-form-search-content-page-1 .btn-primary {margin-top:0px !important;}


.view-event-search-list {width: 100%; padding-bottom: 26px; border-bottom: 1px solid; margin-top:30px;}
#block-takethefirststepblock {background:#e5e5e5; padding:50px 0;}
#block-takethefirststepblock .btn-primary { margin-top:0 !important;} 
#block-explorecareerpathsattsa .block-item {padding: 20px 25px;}
#block-specialopportunitiesfor { padding:40px 0; }
#block-searchupcomingjobevents .btn-primary { margin-top:0 !important;}
#block-searchupcomingjobevents .form-search { margin-top:1px; border:1px solid #333333; margin-right:10px;}
#block-federalbenifitsoverview { padding:60px 0; }
#block-federalbenifitsoverview h2 { border-left:4px solid #cc0033; padding-left:30px; }
#block-federalbenifitsoverview p {padding-left:30px; }
#block-federalbenifitsoverview .btn-primary {margin-left:30px; }
#block-federalbenifitsoverview ul li {line-height:40px; }
#block-views-block-events-view-upcoming-events {padding-bottom:40px;}
#block-views-block-events-view-upcoming-events h4 {color:#006699; margin-top:4px;}
#block-views-block-events-view-upcoming-events .views-row {margin:10px 0;  width:100%;}
#block-views-block-events-view-upcoming-events .title {background: #eee;padding: 10px 20px;}
#block-views-block-events-view-upcoming-events .timing {background:#eee; text-align: center; padding: 20px 10px;}
#block-views-block-events-view-upcoming-events .sharebtn {background:#eee;padding: 20px; text-align: center;}
#block-views-block-events-view-upcoming-events .addtocal {background: #eee;height: 100%; ;text-align: center;padding: 20px 0;}
#views-exposed-form-jobs-page-1 .btn-primary { margin-top:0 !important;}
#block-theme-tsa-gov-content .views-row , #views-exposed-form-jobs-page-1 .views-row {width:100%}
#block-exposedformjobspage-1 {margin-top:50px; margin-bottom:50px;}
#block-exposedformjobspage-1 .form-row , #views-exposed-form-jobs-page-1 .form-row {flex-wrap:unset;}
#block-exposedformjobspage-1 .form-row > fieldset , #views-exposed-form-jobs-page-1 .form-row > fieldset {flex:auto;}
#block-exposedformjobspage-1 .form-control ,  #views-exposed-form-jobs-page-1 .form-control {height:50px;}
#block-exposedformjobspage-1 .btn-primary , #views-exposed-form-jobs-page-1 .btn-primary {height:50px;}
#block-joinourcrucialmission { background-image: url('/sites/default/files/images/join-our-mission.png'); background-repeat: no-repeat; padding:40px 0; background-size:cover; color:#ffffff; text-align:center;}
#block-employeetestimonialhome .common-content {padding-left:0px !important; margin-left:0px !important;}
#block-employeetestimonialhome p {padding-left:0;}
#block-joinourcrucialmission h2 {color:#ffffff;}
#block-joinourcrucialmission .detail {justify-content:center;}
#block-feedbackblock {width:100%; margin-bottom:20px;}
#feedback-block-form { margin:auto; max-width:70%;}
#feedback-block-form legend {display: inline-block;width: auto;float: left;}
#feedback-block-form .fieldset-wrapper {float: left; margin: 0px 30px;}
#feedback-block-form .form-item-feedback-option {display: inline-block;}
#feedback-block-form label { display: inline-block; padding: 10px 30px; font-size: var(--font-size); text-align: center;color: var(--accent); cursor: pointer; background:#006599; color:#ffffff; font-weight:bold; }
#feedback-block-form input {display:none;}
.feedback_message {text-align: center; font-size: 23px;}



.block-block-contentf22f7b9e-d943-428d-af7f-8567713fd72b ul {list-style:none;}
.block-block-content77c24779-df44-4c00-b16b-e2de640000f0 {background:#eeeeee; padding:50px 0;}
.block-block-content012d46bb-46b4-4b12-a702-934cdc0e1536 ul {list-style:none;}
.block-block-contentea1f0af1-1bb2-4d1f-b48c-5a4f4ae9b6c0  {background:#eeeeee; padding:50px 0;}
.block-block-content52c4036a-69ba-46eb-9c3c-5faa865057b8  {background:#eeeeee; padding:50px 0;}

.block-block-content84715b7c-380c-4dc5-8f19-d5d29cf1d394 .block-item { background:#e5e5e5; padding: 20px 15px;}

#accordion .card {background: none; margin-bottom: 15px; border: 1px solid #D8D8D8 ; position: relative; border-radius: 5px;}
#accordion .card-header {background:#ffffff;}
#accordion .card-header:not(.collapsed) { border-left:4px solid #cc0033;}
#accordion .card-body {background:#ffffff; border-left:4px solid #cc0033;}
/*#accordion .card-header[aria-expanded="true"]::after {content : "\f106"}*/
.accordion {width:100%; }
.block-block-contentcdc3c0a4-6ac0-44a7-9a3a-16f62f7f3ea9 {background:#eeeeee; padding:50px 0;}
.card-title {cursor:pointer;}



/****************************** Share **********************/


#socialShare {
  #width: 100%;
  #padding:12px 10px;
  #text-align: center;
  #background:#eee;
}

#socialShare a,
#socialShare > .socialBox {
  position: relative;
  float: none;
  display: inline-block;
  background-color: transparent;
  width: 40px;
  height:40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

#socialShare  a {
  #background-color: rgba(0, 0, 0, 0.2);
}

#socialShare > * > span {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.15);
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 8px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
#socialShare > * > span:hover,
#socialShare > .open > span {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

#socialGallery {
  left: 50%;
  margin: 0 auto 0;
  position: absolute;
  top: 60px;
  transform: translate(-50%, 0);
  visibility: hidden;
  width: 400px;
  z-index:2;
}

#socialGallery a {
  visibility: hidden;
  opacity: 0;
  margin: 5px 2px;
  #background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: 10px;
}

#socialGallery a > span {
  position: relative;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.socialToolBox {
  cursor: default;
}

.pointer {
  cursor: pointer
}

.facebook:hover {
  background: #3b5998 !important
}

.google:hover {
  background: #dd4b39 !important
}

.instagram:hover {
  background: #517fa4 !important
}

.tumblr:hover {
  background: #32506d !important
}

.twitter:hover {
  background: #00aced !important
}

.youtube:hover {
  background: #bb0000 !important
}

@media only screen and (max-width: 480px) {
  #socialGallery {
    width: 120px;
  }
}



/* testimonial-area css start  */

  .video-wrap img {
	max-width: 100%;
	width: 100%;
  }
  .video-wrap {
	position: relative;
  }
  .ply-v {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  .ply-v i {
	color: #fff;
	font-size: 60px;
  }
  .testimonial-area {
	padding: 60px 0;
  }
  
  .common-content h1 {
	#border-left:4px solid #cc0033;
	padding-left: 30px
  }

  .common-content p {
	margin-bottom: 20px;
  }
  .common-content h2 {
	margin-bottom: 14px;
  }
  .common-content {
	background: #fff;
	margin-left: -80px;
	padding: 30px;
	margin-top: 40px;
}


.twin-area {
	padding-bottom: 60px;
	padding-top: 15px;
}

.learn-more {
	display: inline-block;
	color: #006699;
	font-weight: bold;
	font-size: 15px;
}

.learn-more:hover {
   color: #006699;
}

.common-content.reverse {
	margin-left: 0;
	margin-right: -80px;
	position: relative;
	z-index: 5;
}

.common-content.reverse.positionab {
	position:absolute;
	bottom:0;
}

.btm-trans-content {
	background: #EBF6FE;
	max-width: 350px;
	padding: 15px;
	#position: absolute;
	bottom: -100px;
	left: 0;
	margin-top:20px;
}
  .btm-trans-content p strong {
	display: block;
	text-transform: uppercase;
	font-size: 15px;
  }
  .btm-trans-content p {
	font-size: 13px;
	line-height: 18px;
  }


/* testimonial-area css end */


/**********************************************************/


/*.site-footer {padding-bottom:0;}
footer .container {background:#eeeeee;}
.site-footer__bottom { padding: 0 30px; }
.site-footer .content { color:#000000; }
.site-footer__bottom .block {margin-bottom:0;}*/

.site-footer {background:#e5e5e5; border-top:2px solid #cccccc; padding-bottom:0; padding-top:0;}
footer .nav-link {color: #333333; font-size: 14px; font-weight: 700; text-transform: uppercase;}
footer .footer-social-media-icons {width: 22px;height: 22px;margin: 0 .235rem;}
footer p {font-size: 14px; line-height: 16px; color: #333333; }
.site-footer__bottom { padding: 0 30px; }
.site-footer .content { color:#000000; }
.site-footer__bottom .block {margin-bottom:0;}
#block-footermenu {margin-top:60px;}
#block-footermenu .nav{display:block;}


/*.navbar-default { background:none; border:none;}
.footer { }
*/

/* footer css start */
.social-lnks {
	margin-top: 50px;
	margin-left: 58px;
}
.social-lnks li {
	display: inline-block;
	margin-right: 18px;
  }
  .social-lnks li:last-child {
	margin-right: 0;
  }
  .social-lnks li a {
	color: #000 !important;
	font-size: 22px;
	display: inline-block;
  }

  .footer-bottom-area {
	background: #CCCCCC;
	padding: 60px 0;
	padding-bottom: 10px;
  }
  .ft-logo img {
	max-width: 230px;
  }
  .ft-logo {
	margin-bottom: 50px;
  }
  .footer-widget h3 {
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 10px;
	font-weight:bold;
  }
  .ft-links li a {
	display: inline-block;
	font-size: 13px;
	color: #333;
	font-weight: 700;
  }
  .ft-links li:not(:last-child) {
	margin-bottom: 6px;
  }
  .footer-widget {
	margin-bottom: 30px;
  }
/* footer css end */

@media all and (min-width: 851px) {
  .site-footer__top .region-footer-first { width:60%; }
}
@media all and (max-width: 850px) {
  .site-footer__top .region-footer-first { width:100%; }
}


/*-- responsive media queries --*/
@media (max-width: 1366px){
}
@media (min-width: 1200px){
 #block-mainnavigation {margin-left:100px;}
}
@media (max-width: 1280px){
}
@media (max-width: 1080px){
}
@media (max-width: 991px){
	.mega-dropdown {position:relative;}
	.header-main-nav li ul.dropdown-menu li {float:none; width:100%;}
	.header-main-nav li a {padding:15px 15px;}
	.header-main-nav li:not(:first-child) { margin-left:0px;}
    .header-main-nav li ul.dropdown-menu { padding-top:0 ;}
	#block-theme-tsa-gov-main-menu {text-align:left; border-top:.1rem solid #eeeeee}
	#block-theme-tsa-gov-main-menu .dropdown-menu { border:none;}
	#block-theme-tsa-gov-main-menu .dropdown-menu ul { display:block; border:none;}
    #block-theme-tsa-gov-main-menu .dropdown-menu ul li {padding-left:0px; position:relative;}
	/*#block-theme-tsa-gov-header-main-nav {text-align:left; border-top:.1rem solid #eeeeee}
	#block-theme-tsa-gov-header-main-nav .dropdown-menu { border:none;}
	#block-theme-tsa-gov-header-main-nav .dropdown-menu ul { display:block; border:none;}
	ul > .show {border:none;}
	.navbar-nav .show .dropdown-toggle {display:inline ; border-bottom: 4px solid red;}
	#navbar-main {border-bottom:none;}
	#block-theme-tsa-gov-header-main-nav .dropdown-menu ul li {padding-left:0px;}
	.navbar-brand {margin:0 -30px}
	.navbar-expand-lg .navbar-nav .dropdown-menu {padding:30px 0px 0px;}
	#block-useraccountmenu {border-top:.1rem solid #eeeeee; padding:30px;}
	#block-useraccountmenu ul {text-align:center;
	#block-useraccountmenu ul li {width:50%}*/
	/*#block-useraccountmenu ul {justify-content:center;}
	#block-useraccountmenu ul a {margin:20px;}*/
	
	
	
	
	
}
@media (min-width: 992px){
	/*.navbar-expand-lg .navbar-nav .nav-link {
       padding-left: .5rem;
	}
	#block-useraccountmenu ul li {width:50% ; text-align:right;}*/
	

}

@media (max-width: 767px){
	
   h1 { font-size: 32px;font-weight: 400;  margin:20px 0;}
   h2 { font-size: 21px; margin:15px 0; line-height:35px; }
   #block-useraccountmenu ul li {width:100%}
   #block-explorecareerpathsattsa .block-item { margin-bottom:20px;}
   .block-block-content84715b7c-380c-4dc5-8f19-d5d29cf1d394 .block-item { margin-bottom:20px;}

   
}
@media (max-width: 414px){
}
@media (min-width: 768px){
	
}

.accordion-option {width:100%;}

.accordion-option .toggle-accordion {
	float: right;
	font-size: 14px;
	color:#6a6c6f;
	font-weight: bold;
	margin-bottom: 20px;
	text-decoration:none;
}

.accordion-option .toggle-accordion:before {
  content: "Collapse All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Expand All";
}


/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .row.program-active {
        padding-left: 25px;
        padding-right: 25px;
      }
      .pg-slider-content {
        padding-left: 300px;
        margin-top: 45px;
    }
    .slider-arw-design .slick-next.slick-arrow {
        right: 0;
    }
    .slider-arw-design .slick-arrow {
        left: 0;
    }
    .date {
        display: none;
    }
    .program-type li a, .program-type a {
        margin: 0 54px;
        padding: 15px 0;
        font-family: 'Tinos', serif;
    }
    .tsa-type a {
        margin: 0 24px !important;
    }
    .tsa-type {
        margin-top: 20px;
    }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {
    .toggle-bar {
        display:inline-block;
    }
    .login-and-search {
        margin-top: 0;
    }
    .logo {
        margin-right: 0;
        transform: translateY(0);
    }
    .logo img {
        max-width: 150px;
    }
    .header-area {
        padding: 10px 0;
    }
    .login-and-search li:nth-child(3) {
        display: inline-block;
    }
    
/* .row.program-active {
    padding-left: 25px;
    padding-right: 25px;
  } */
  .pg-slider-content {
	padding-left: 300px;
	margin-top: 45px;
}
.pg-trans-img {
	display: none !important;
}
.pg-slider-content {
	padding-left: 0;
	margin-top: 0;
}
.slider-arw-design .slick-next.slick-arrow {
    right: 0;
}
.slider-arw-design .slick-arrow {
    left: 0;
    z-index: 99;
}
.common-content h2 {
	font-size: 33px;
}
.program-type li {
	flex: 0 0 33.33%;
	max-width: 33.33%;
}
.stage-padding {
	padding: 0 103px;
}
.search-blk-wrap {
	padding: 28px;
}
.search-g-wrap {
	grid-template-columns: 1fr;
}
.common-content {
	margin-left: 0;
	padding: 0;
    margin-bottom: 30px;
    margin-top: 0;
}
.testimonial-area {
	margin-bottom: 50px;
}
.program-area {
	margin-bottom: 0;
}
.common-content.reverse {
	margin-right: 0;
}
.program-type li a {
	margin: 0 35px;
}

.stage-padding {
	padding: 0 38px;
}

.date {
	display: none;
}

.hed-search {
	height: 64px;
	bottom: -24px;
}
.program-type li a, .program-type a {
	margin: 0 42px;
}

.tsa-type a {
	margin: 0 20px !important;
}
.tsa-type {
	margin-top: 20px;
}



}

 
/* small mobile :320px. */
@media (min-width: 320px) and (max-width: 767.98px) {
    .toggle-bar {
        display:inline-block;
    }
    .login-and-search {
        margin-top: 0;
    }
    .logo {
        margin-right: 0;
        transform: translateY(0);
    }
    .logo img {
        max-width: 150px;
    }
    .header-area {
        padding: 10px 0;
    }
    .login-and-search li:nth-child(3) {
        display: inline-block;
    }
    .verticle-bar {
        padding-left: 28px;
    }
    .hero-content h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .hero-content p {
        font-size: 15px;
    }
    .row.program-active {
        padding-left: 25px;
        padding-right: 25px;
    }
    .pg-slider-content {
        padding-left: 300px;
        margin-top: 45px;
    }
    .pg-trans-img {
        display: none !important;
    }
    .pg-slider-content {
        padding-left: 0;
        margin-top: 0;
    }
    .slider-arw-design .slick-next.slick-arrow {
        right: 0;
    }
    .slider-arw-design .slick-arrow {
        left: 0;
        z-index: 99;
    }
    .common-content h2 {
        font-size: 27px;
    }
    .program-type li {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .stage-padding {
        padding: 0 0;
    }
    .program-type li a {
        font-size: 16px;
        margin: 0 12px;
        padding: 15px 0;
    }

    .pg-slider-content .common-content {
        padding: 8px;
    }
    div#accordionExample .card button {
        display: block;
        background: #fff;
        width: 100%;
        text-align: left;
        position: relative;
        padding: 12px 15px;
        outline: none;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        padding-right: 30px;
        border-radius: 0;
        font-family: 'Tinos', serif;
    }
    .hero-area {
        padding: 40px 0;
    }
    .search-blk-wrap {
        padding: 15px;
    }
    .search-g-wrap {
        grid-template-columns: 1fr;
    }
    .footer-bottom-area {
        padding: 40px 0;
        padding-bottom: 20px;
    }
    .search-blk-wrap h2 {
        margin-bottom: 15px;
        font-size: 28px;
    }
    
    .single-event {
        display: block;
    }
    .s-event-right {
        margin-top: 15px;
    }
    .s-event-left h1 {
        font-size: 29px;
    }
    .title-bar {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
    .search-event input {
        font-size: 13px;
    }
    .common-content {
        margin-left: 0;
        padding: 0;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .testimonial-area {
        margin-bottom: 50px;
    }
    .program-area {
        margin-bottom: 0;
    }
    .common-content.reverse {
        margin-right: 0;
    }
	
	.common-content.reverse.positionab{
	  position:relative;
	}
	
    .date {
        display: none;
    }
    .hed-search {
        height: 64px;
        bottom: -24px;
    }
    .hed-search input {
        width:100%;
    }
    .program-type li a, .program-type a {
        font-size: 14px;
        margin: 0 0;
        padding: 15px 0;
    }
    .tabContainer .program-type {
        justify-content: space-between;
    }
    .tsa-type a {
        margin: 0 5px !important;
    }
    .fixed-tsa .logo-sticky {
        display: none !important;
    }
    .tsa-area {
        top: -207px;
    }
	 
	#block-ensuresafetravelshome h1 {border-left:none;}
	.process-img-border1,.process-img-border2,.process-img-border3 {background:none;}
	.block-views-blockslider-process-hiring-slider .owl-buttons .owl-prev { position: relative; }
    .block-views-blockslider-process-hiring-slider .owl-buttons .owl-next { position: relative; }
 
}
 
/* Large Mobile :480px. */
@media (min-width: 576px) and (max-width: 767.98px) {


 
}


/* program-area css start  */



.pg-slider-content {
	position: relative;
  }
  .pg-trans-img {
	position: absolute;
	left: 0;
	bottom: 0;
	max-width: 400px;
	z-index: -1;
}
  .pg-slider-content .common-content {
	background: #fff;
	padding: 30px;
  }
  .pg-slider-content {
	padding-left: 330px;
	margin-top: 90px;
}


.slider-arw-design .slick-arrow {
	position: absolute;
	top: 65%;
	transform: translateY(-50%);
	left: -65px;
	background: transparent;
	border: 1px solid #D8D8D8;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: #1472A1;
	font-size: 24px;
	padding: 0;
	text-align: center;
	line-height: 25px;
  }
  .slider-arw-design .slick-next.slick-arrow {
	left: auto;
	right: -65px;
  }
/* program-area css end */





